* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* List */
.list-group {
  color: #000;

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;

  padding: 30px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bnt-create {
  font-size: 22px;
  
  padding: 10px 25px;
  border-radius: 10px;
  transition: opacity 0.2s;
}

.header, .list-items {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.header {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  
  border-radius: 10px;
  background-color: #808080;
}

.list-items {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions > button {
  font-size: 18px;
  
  padding: 5px 15px;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.actions > button:last-child:hover {
  color: white;
  
  background-color: #eb1f33;
  border: 2px solid #eb1f33;
}

/* Create */
.form {
  color: black;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group > div > label {
  color: 18px;
  font-weight: 500;
}

.input-group > div > input {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 5px 10px;

  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.bnts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Update */
.form-update {
  color: black;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}