* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container {
  color: black;

  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.login-form > h2 {
  font-size: 47px;
  font-weight: 700;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group > label {
  display: flex;
  flex-direction: row;
  justify-content: start;

  font-size: 17px;
  font-weight: 500;
}

.input-group > input {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 5px 10px;

  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.login-form > p {
  font-weight: 500;
}

.signup {
  color: #fff;
  background-color: #358a43;
  padding: 7px;
  border-radius: 30px;
  border: 1px solid rgb(65, 97, 16);
}

.signup:hover {
  background-color: #265a2f;
  transition: all 0.4s;
}

.bnts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}