
.container {
  color: #000;

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;

  padding: 30px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container > .form-card > h2 {
  font-size: 35px;
  font-weight: 800;
}

.container > .form-card > .input-group > label {
  color: 18px;
  font-weight: 600;
}

.container > .form-card > .input-group > input {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 5px 10px;

  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.container > .form-card > .input-group > .check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.container > .form-card > .input-group > .check > label {
  font-size: 17px;
  font-weight: 700;
}

.container > .form-card > .input-group > .check > input {
  width: 15px;
}

.container > .form-card > div > button {
  font-size: 18px;
  
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.4s;
}

/* List Services */
.list-group {
  color: #000;

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;

  padding: 30px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bnt-create {
  font-size: 22px;
  
  padding: 10px 25px;
  border-radius: 10px;
  transition: opacity 0.2s;
}

.header, .list-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.header {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  
  border-radius: 10px;
  background-color: #808080;
}

.list-items {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions > button {
  font-size: 18px;
  
  padding: 5px 15px;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.actions > button:last-child:hover {
  color: white;
  
  background-color: #eb1f33;
  border: 2px solid #eb1f33;
}

/* Update Service */
.form-update > h2 {
  font-size: 35px;
  font-weight: 800;
}

.form-update > .input-group > .check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.form-update > .input-group > .check > label {
  font-size: 17px;
  font-weight: 700;
}

.form-update > .input-group > .check > input {
  width: 15px;
}