header {
  background-color: rgb(93, 149, 161);
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

}

header > h1 {
  font-size: 50px;
  font-weight: 500;
  color: #000;
}

header > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

button {
  color: #000;
  font-size: 18px;

  background-color: #fff;
  border-radius: 90px;
  border: 2px solid rgb(146, 171, 231);
}

button:hover {
  color: #fff;
  background-color: rgb(134, 180, 223);
  border: 2px solid rgb(134, 180, 223);
  transition: all 0.5s;
}